@model IEnumerable<FilRouge.MVC.ViewModels.DifficultyViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Difficulties</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DifficultyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DifficultyId })
            </td>
        </tr>
    }

</table>
