@model FilRouge.MVC.Entities.Technology

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TechnoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
