@model IEnumerable<FilRouge.MVC.Entities.Technology>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TechnoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @*Html.ActionLink("Edit", "Edit", new { id = item.TechnoId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.TechnoId }) @*|
                @Html.ActionLink("Delete", "Delete", new { id = item.TechnoId })*@
            </td>
        </tr>
    }

</table>
