
@model IEnumerable<FilRouge.Web.ViewModels.QuestionViewModel>

@{
	ViewBag.Title = "Questions";
}

<h2>QuestionsList</h2>
@Html.AntiForgeryToken()
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.QuestionId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Content)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Commentaire)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TechnologyId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.QuestionTypeId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DifficultyId)
		</th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.QuestionId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Content)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Commentaire)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TechnologyId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.QuestionTypeId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DifficultyId)
		</td>
		<td>
			@Html.ActionLink("Details", "Details", new { id = item.QuestionId })
			@*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
			@Html.ActionLink("Details", "Details", new { id=item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
		</td>
	</tr>
	}

</table>